<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="UTF-8" />
<title>Sửa người dùng</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/StyleRegisterNguoidung.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/NguoiDung-register.js}"></script>
<style type="text/css">
.container {
	width: 95%;
	margin: auto;
	height: 1000px;
	border-radius: 5px;
	padding: 10px;
}
</style>
</head>
<body>
	<section class="main__content" layout:fragment="content">
		<div class="container">
			<br>
			<h2>Sửa người dùng</h2>
			<hr>
			<form th:action="@{/nguoidung/doUpdate}" th:object="${NGUOIDUNG}"
				onsubmit="return validate()" id="myModals">

				<div class="form-group">
					<input type="hidden" class="form-control"
						 name="id"
						th:field="*{id}">
				</div>

				<div class="form-group">
					<label class="col-sm-2 col-form-label">Mã người dùng(*) </label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							placeholder="Nhập mã người dùng" name="manguoidung"
							th:field="*{manguoidung}">
					</div>


				</div>
				<div class="form-group">
					<label class="col-sm-2 col-form-label">Tên người dùng(*)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							placeholder="Nhập tên người dùng" name="tennguoidung"
							th:field="*{tennguoidung}">
					</div>


				</div>
				<div class="form-group ">
					<label class="col-sm-2 col-form-label">Password(*)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							placeholder="Nhập mật khẩu" name="password"
							th:field="*{password}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 col-form-label">Email(*)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Nhập email"
							name="email" th:field="*{email}">
					</div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 col-form-label">Phone(*)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							placeholder="Nhập số điện thoại" name="phone" th:field="*{phone}">
					</div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 col-form-label">Giới tính(*)</label>
					<div class="col-sm-10">

						<!--value = 0 => Nam| 1 => Nu| 2 => LGBT -->
						<div class="form-check form-check-inline">
							<input type="radio" class="form-check-input" name="gender"
								th:field="*{gender}" checked="checked" value="0" id="gender1">
							<label class="form-check-label">Nam</label>
						</div>

						<div class="form-check form-check-inline">
							<input type="radio" class="form-check-input" name="gender"
								th:field="*{gender}" value="1" id="gender2"> <label
								class="form-check-label">Nữ</label>
						</div>


						<div class="form-check form-check-inline">
							<input type="radio" class="form-check-input" name="gender"
								th:field="*{gender}" value="2" id="gender3"> <label
								class="form-check-label">Khác</label>
						</div>

					</div>

				</div>

				<div class="form-group">
					<label class="col-sm-2 col-form-label">Vai trò</label>
					<div class="col-sm-10" style="margin-left: 130px;">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Select</th>
									<th>Tên vai trò</th>
								</tr>
							</thead>
							<tbody>
								<tr id="oo" th:each="vaitro: ${VAITROS}">
									<td><input class="vt-update" type="checkbox" name="vaitro"
										th:field="*{vaitro}" th:value="${vaitro.id}"></td>
									<td th:text="${vaitro.tenvaitro}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="button-all">
					<button type="submit" class="btn btn-primary btn">Sửa</button>
					<a class="btn btn-primary btn" href="/nguoidung/list">Xem danh
						sách</a>
				</div>

			</form>
		</div>
	</section>
</body>
</html>