
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>danh sach tin tuc</title>


<style type="text/css">
.container {
	width: 100%;
	margin: auto;
	border-radius: 5px;
	background-color: #;
	padding: 50px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h2 align="">Danh sách tin tức</h2><hr><br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>STT</th>
						<th>Ảnh</th>
						<th width="150px">Tiêu đề</th>
						<th>Miêu tả</th>
					<!-- 	<th>noi dung</th> -->
						<th width="150px">Ngày viết</th>
						<th width="150px"><a href="/news/">Thêm tin tức</a></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item,index: ${LIST_TINTUC.pageList}">
						<td th:text="${index.count}"></td>
						<td width="100"><img alt=""
							th:src="@{'/getimage/'+${item.img}}" width="80" height="70" /></td>
						<td th:text="${item.tieude}"></td>
						<td th:text="${item.mieuta}"></td>
						<!-- <td th:utext="${item.noidungs}"></td> -->
						<!-- <td th:text="${#dates.format(item.ngayviet, 'dd-MMM-yyyy')}"></td> -->
						<td th:text="${item.ngayviet + ''}"></td>
						 
						<td><a class="btn btn-primary btn-sm"
							th:href="@{'/news/edit/'+ ${item.id}}">Sửa</a> | <a
							class="btn btn-primary btn-sm"
							th:href="@{'/news/delete/'+ ${item.id}}">Xoá</a></td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li
					th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
					<a class="page-link" th:href="@{/news/page/1}">Đầu tiên</a>
				</li>
				<li
					th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
					<a class="page-link" aria-label="Previous"
					th:href="@{|${baseUrl}${currentIndex - 1}|}"
					title='Go to previous page'><span aria-hidden="true">«</span> <span
						class="sr-only">Previous</span></a>
				</li>
				<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
					th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
					<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
						th:text='${item}'>1</span>
				</a>
				</li>
				<li
					th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
					<a class="page-link" aria-label="Next"
					th:href="@{|${baseUrl}${currentIndex + 1}|}"
					title='Go to next page'><span aria-hidden="true">»</span> <span
						class="sr-only">Next</span></a>
				</li>
				<li
					th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
					<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Cuối cùng</a>
				</li><hr>
				<div>Tổng số trang: [[${totalPageCount}]]
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;trang: [[${currentIndex}]] /
					[[${totalPageCount}]]</div>
			</ul>
		</div>
	</div>
</body>
</html>