<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>da thanh toan</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/user/images/menu.jpg"
	type="image/x-icon">
<link rel="apple-touch-icon" href="/user/images/apple-touch-icon.png">
<!-- FontAwesome Icons core CSS -->
<link href="/tintuc/css/font-awesome.mined.css" rel="stylesheet">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/user/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/user/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/user/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/user/css/custom.css">

<style type="text/css">
.td {
	margin-left: 487px;
}
</style>


</head>
<body>
	<!-- Start Main Top -->
	<ul th:replace="fragments/header :: navigation"></ul>
	<!-- End Main Top -->
	<br>
	<br>
	<h1 align="center" style="font-weight: bold;">Thanh toán thành
		công</h1>
	<p align="center">Cảm ơn Quý khách đã thực hiện giao dịch.</p>
	<br>
	<a href="/" class=""> <input class="btn btn-danger td "
		value="Tiếp tục mua hàng"></a>
	<a href="/come/ho-so/"> <input class="btn btn-danger"
		value="Lịch sử đơn hàng"></a>
	<br>
	<br>
	<!-- Start Footer  -->
	<ul th:replace="fragments/footer :: navigation"></ul>
	<!-- End Footer  -->
</body>
</html>