<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Basic -->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>ds-sanpham</title>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="/tintuc/css/font-awesome.mined.css" rel="stylesheet">

<link rel="shortcut icon" href="/user/images/menu.jpg"
	type="image/x-icon">
<link rel="apple-touch-icon" href="/user/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/user/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/user/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/user/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/user/css/custom.css">
<link rel="stylesheet" href="/user/css/font-awesome.mined.css">

<style>
#main-content {
	width: 100%;
	background-color: #FFFFFF;
	margin: 0 auto;
}

.col-334 {
	width: 70%;
}

.col-33 {
	width: 30%;
	height: 350px;
	float: left;
	margin-right: 20px;

	/*    background-color: gray;*/
}
{
background-color








:








#ddd








;
}
</style>

</head>

<body>

	<!-- Start Main Top -->
	<ul th:replace="fragments/header :: navigation"></ul>
	<!-- End Main Top -->

	<!-- Start Top Search -->
	<div class="top-search">
		<div class="container">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input type="text" class="form-control" placeholder="Search">
				<span class="input-group-addon close-search"><i
					class="fa fa-times"></i></span>
			</div>
		</div>
	</div>
	<!-- End Top Search -->

	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Sản Phẩm</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
						<li class="breadcrumb-item active">Sản Phẩm</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start Shop Page  -->
	<div class="shop-box-inner">
		<div class="container">
			<div class="row">
				<div
					class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
					<div class="right-product-box">
						<h2 style="margin-left: 320px">Danh sách món ăn</h2>

						<br>
						<!--  số sản phẩm<h1 th:text="${products.size()}"></h1> -->
						<!-- số category
						<h1 th:text="${categorys.size()}"></h1>
						id category
						<h1 th:text="${idCategory}"></h1> -->

						<th:block th:each="item : ${products}">
							<!-- <th:block th:each="item : ${products}"> -->
							<div class="col-33">
								<div class="products-single fix">
									<div class="box-img-hover">
										<!-- <div class="type-lb">
											<p class="sale">Sale</p>
										</div> -->
										<img th:src="@{'/getimage/'+${item.image}}" class="img-fluid"
											alt="Image">
										<div class="mask-icon">
											<ul>
												<li><a
													th:href="@{/come/chi-tiet-san-pham/{id}(id=${item.id_product})}"
													data-toggle="tooltip" data-placement="right" title="">
														<i class="fas fa-eye"></i>Xem chi tiết
												</a></li>
											</ul>

											<form>
												<a th:href="@{'/AddCart/' + ${item.id_product}}"
													class="cart" type="submit">Thêm vào giỏ hàng</a>
											</form>
										</div>
									</div>
									<div class="why-text">
										<h4 th:text="${item.name}"></h4>
										<h5 th:text="${#numbers.formatCurrency(item.price)}"></h5>
									</div>
								</div>
							</div>
						</th:block>

					</div>

					<hr />


				</div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
					<div class="product-categori">
						<div class="search-product">
							<form action="#">
								<input class="form-control" placeholder="Search here..."
									type="text">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</div>
						<div class="filter-sidebar-left">
							<div class="title-left">
								<h3>Categories</h3>
							</div>
							<div
								class="list-group list-group-collapse list-group-sm list-group-tree"
								id="list-group-men" data-children=".sub-men">
								<div class="list-group-collapse sub-men">
									<a class="list-group-item list-group-item-action"
										href="#sub-men1" data-toggle="collapse" aria-expanded="true"
										aria-controls="sub-men1">Fruits & Drinks <small
										class="text-muted">(100)</small>
									</a>
									<div class="collapse show" id="sub-men1"
										data-parent="#list-group-men">
										<div class="list-group">
											<a href="#"
												class="list-group-item list-group-item-action active">Fruits
												1 <small class="text-muted">(50)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Fruits
												2 <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Fruits
												3 <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Fruits
												4 <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Fruits
												5 <small class="text-muted">(20)</small>
											</a>
										</div>
									</div>
								</div>
								<div class="list-group-collapse sub-men">
									<a class="list-group-item list-group-item-action"
										href="#sub-men2" data-toggle="collapse" aria-expanded="false"
										aria-controls="sub-men2">Vegetables <small
										class="text-muted">(50)</small>
									</a>
									<div class="collapse" id="sub-men2"
										data-parent="#list-group-men">
										<div class="list-group">
											<a href="#" class="list-group-item list-group-item-action">Vegetables
												1 <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Vegetables
												2 <small class="text-muted">(20)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Vegetables
												3 <small class="text-muted">(20)</small>
											</a>
										</div>
									</div>
								</div>
								<a href="#" class="list-group-item list-group-item-action">
									Grocery <small class="text-muted">(150) </small>
								</a> <a href="#" class="list-group-item list-group-item-action">
									Grocery <small class="text-muted">(11)</small>
								</a> <a href="#" class="list-group-item list-group-item-action">
									Grocery <small class="text-muted">(22)</small>
								</a>
							</div>
						</div>
						<div class="filter-price-left">
							<div class="title-left">
								<h3>Price</h3>
							</div>
							<div class="price-box-slider">
								<div id="slider-range"></div>
								<p>
									<input type="text" id="amount" readonly
										style="border: 0; color: #fbb714; font-weight: bold;">
									<button class="btn hvr-hover" type="submit">Filter</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>


		<!-- End Shop Page -->

		<!-- Start Footer  -->
		<ul th:replace="fragments/footer :: navigation"></ul>
		<!-- End Footer  -->

		<a href="#" id="back-to-top" title="Back to top"
			style="display: none;">&uarr;</a>

		<!-- ALL JS FILES -->
		<script src="/user/js/jquery-3.2.1.min.js"></script>
		<script src="/user/js/popper.min.js"></script>
		<script src="/user/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->
		<script src="/user/js/jquery.superslides.min.js"></script>
		<script src="/user/js/bootstrap-select.js"></script>
		<script src="/user/js/inewsticker.js"></script>
		<script src="/user/js/bootsnav.js."></script>
		<script src="/user/js/images-loded.min.js"></script>
		<script src="/user/js/isotope.min.js"></script>
		<script src="/user/js/owl.carousel.min.js"></script>
		<script src="/user/js/baguetteBox.min.js"></script>
		<script src="/user/js/jquery-ui.js"></script>
		<script src="/user/js/jquery.nicescroll.min.js"></script>
		<script src="/user/js/form-validator.min.js"></script>
		<script src="/user/js/contact-form-script.js"></script>
		<script src="/user/js/custom.js"></script>
</body>

</html>