<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Cập nhật hồ sơ</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/user/images/menu.jpg"
	type="image/x-icon">
<link rel="apple-touch-icon" href="/user/images/apple-touch-icon.png">
<!-- FontAwesome Icons core CSS -->
<link href="/tintuc/css/font-awesome.mined.css" rel="stylesheet">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/user/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/user/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/user/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/user/css/custom.css">



</head>
<body>

	<!-- Start Main Top -->
	<ul th:replace="fragments/header :: navigation"></ul>
	<!-- End Main Top -->
	
	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Cập nhập thông tin</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
						<li class="breadcrumb-item active">Thông tin cá nhân</li>
						<li class="breadcrumb-item active">Cập nhập thông tin</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->
	
	<br><br>
	<div class="container-fluid">
		<div class="row" style="padding: 40px; background-color:;">
				<div class="col-sm-3" style="background-color:">
				<i class='fas fa-user-cog'
					style='font-size: 22px; color: blue; cursor: pointer'> <a
					href="/come/ho-so" th:text="${session.CUSTOMER.display_name}"></a>
				</i>
				<hr>

				<div class="dropdown">
					<a class="fas fa-user-edit"
						style="font-size: 18px; color: green; cursor: pointer"
						id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Tài Khoản Của Tôi</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<a class="dropdown-item" href="/come/thongtinkhachhang"
							style="font-weight: bold;">Cập nhập hồ sơ</a>
					</div>
				</div>

				<hr>

				<div class="dropdown">
					<a class="fa fa-cart-plus"
						style="font-size: 18px; color: red; cursor: pointer;"
						id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Đơn Mua</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<a class="dropdown-item" href="/come/lichsuhoadon/dang-xu-li"
							style="font-weight: bold;">Đang xử lí</a> <a
							class="dropdown-item" href="/come/lichsuhoadon/dang-giao"
							style="font-weight: bold;">Đang giao hàng</a> <a
							class="dropdown-item" href="/come/lichsuhoadon/da-giao"
							style="font-weight: bold;">Đã giao hàng</a>
					</div>
				</div>
				<hr>
				<div>
					<i class="fa fa-bell" style="font-size: 18px; color: orange;"><a>
							Thông Báo</a></i>
				</div>

			</div>

			<div class="col-sm-8" style="background-color:;">
				<h2 align="center" style="font-size: 30px; margin-top: -50px;">Cập nhật hồ sơ</h2>
				
				<div class="col-sm-12" style="background-color:;">
					<div class="col-sm-12"
						style="border: 0px darkgrey solid; border-radius: 10px; width: 70%; margin: 0 auto; padding: 0px;">


						<form th:action="@{/capnhap-thongtin}" method="post">

							<input type="hidden" th:value="${session.CUSTOMER.id}" name="id">

							<div class="form-group">
								<label>Tên:</label> <input type="text"
									th:value="${session.CUSTOMER.display_name}"
									class="form-control" name="display_name" placeholder="Nhập tên"
									id="display_name">
							</div>

							<div class="form-group">
								<label>Mật khẩu:</label> <input type="password"
									th:value="${session.CUSTOMER.matkhau}" class="form-control"
									name="matkhau" placeholder="Nhập mat khau cũ" id="matkhau">
							</div>

							<!-- <div class="form-group">
                    			    <label>Mật khẩu mới:</label> <input type="password"
                      			      class="form-control" name="matkhau" placeholder="Nhập mat khau mới"
                        			   id="matkhau">
                    				</div> -->

							<div class="form-group">
								<label>Địa chỉ:</label> <input type="text"
									th:value="${session.CUSTOMER.address}" class="form-control"
									name="address" placeholder="Nhập address" id="address">
							</div>

							<div class="form-group">
								<label>Email:</label> <input type="text"
									th:value="${session.CUSTOMER.email}" class="form-control"
									name="email" placeholder="Nhập email" id="email">
							</div>

							<div class="form-group">
								<label>Số điện thoại:</label> <input type="text"
									th:value="${session.CUSTOMER.phone}" class="form-control"
									name="phone" placeholder="Nhập phone" id="phone">
							</div>



							<button type="submit" class="btn btn-danger">Cập nhập</button>
						</form>
					</div>
				</div>

				<br> <br> <br>
			</div>
		</div>
		<br> <br>


		<!-- Start Footer  -->
		<ul th:replace="fragments/footer :: navigation"></ul>
		<!-- End Footer  -->
</body>
</html>