<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Design fonts -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Giới thiệu</title>
<!-- FontAwesome Icons core CSS -->
<link href="/tintuc/css/font-awesome.mined.css" rel="stylesheet">
<link rel="shortcut icon" href="/user/images/menu.jpg"
	type="image/x-icon">
<link rel="apple-touch-icon" href="/user/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/user/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/user/css/style.css">
</head>
<body>
	<!-- Start Main Top -->
	<ul th:replace="fragments/header :: navigation"></ul>
	<!-- End Main Top -->
	<!-- Start All Title Box -->
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Giới thiệu </h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
						<li class="breadcrumb-item active">Giới thiệu</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->

	<!-- Start About Page  -->
	<div class="about-box-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="banner-frame">
						<img class="img" width="100%" src="/user/images/about-img.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<h2 class="noo-sh-title-top">
						Chúng tôi là <span>Ẩm thực số 7</span>
					</h2>
					<p>"Nhưng tôi phải giải thích cho bạn hiểu làm thế nào mà tất
						cả những ý tưởng sai lầm này khi tố cáo niềm vui và ca ngợi nỗi
						đau, toàn bộ điều này đã giải thích đủ những lời dạy thực tế về
						chân lý vĩ đại và người xây dựng nên hạnh phúc của con người. Bản
						thân không có niềm vui nào, bởi vì nó là đau đớn hay trốn tránh,
						mà là vì gặp phải hậu quả là nỗi đau của những người theo đuổi
						niềm vui nhận thức một cách hợp lý về họ. Hơn nữa, bất kỳ người
						nào thuộc về họ, những người bình tĩnh ipsum quia dolor sit amet,
						consectetur, để đạt được điều đó muốn, nhưng vì họ không bao giờ
						bị ràng buộc vào các chế độ của thời điểm sa ngã nên lao động và
						buồn phiền, một số lớn, tìm kiếm niềm vui. Tải thông tin dưới dạng
						vCard E , ai trong chúng ta đã từng thực hiện các bài tập thể dục
						vất vả, ngoại trừ việc đạt được một số lợi thế từ nó? Nhưng ai có
						quyền tìm ra lỗi trong đó, một thú vui không có hậu quả khó chịu,
						ai.</p>
					<p>Thuốc giảm đau Donec porttitor chỉ là thuốc chữa bệnh nhưng
						mang lại sức sống cho người bệnh lâu năm labre et dolore magna
						aliqua. Đối với thẻ vCard, những người thực hiện quy tắc của khu
						học chánh giả mạo lợi thế của nỗ lực kích thích nếu chuyển động
						của một vấn đề như vậy.</p>
					<a class="btn hvr-hover" href="#">Đọc Thêm</a>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-sm-6 col-lg-4">
					<div class="service-block-inner">
						<h3>We are Trusted</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="service-block-inner">
						<h3>We are Professional</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="service-block-inner">
						<h3>We are Expert</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row my-4">
				<div class="col-12">
					<h2 class="noo-sh-title">Meet Our Team</h2>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="hover-team">
						<div class="our-team">
							<img src="/user/images/img-1.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Williamson</h3>
								<span class="post">Web Developer</span>
							</div>
							<ul class="social">
								<li><a href="#" class="fab fa-facebook"></a></li>
								<li><a href="#" class="fab fa-twitter"></a></li>
								<li><a href="#" class="fab fa-google-plus"></a></li>
								<li><a href="#" class="fab fa-youtube"></a></li>
							</ul>
							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>
						</div>
						<div class="team-description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>
						<hr class="my-0">
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="hover-team">
						<div class="our-team">
							<img src="/user/images/img-2.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Kristiana</h3>
								<span class="post">Web Developer</span>
							</div>
							<ul class="social">
								<li><a href="#" class="fab fa-facebook"></a></li>
								<li><a href="#" class="fab fa-twitter"></a></li>
								<li><a href="#" class="fab fa-google-plus"></a></li>
								<li><a href="#" class="fab fa-youtube"></a></li>
							</ul>
							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>
						</div>
						<div class="team-description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>
						<hr class="my-0">
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="hover-team">
						<div class="our-team">
							<img src="/user/images/img-3.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Steve Thomas</h3>
								<span class="post">Web Developer</span>
							</div>
							<ul class="social">
								<li><a href="#" class="fab fa-facebook"></a></li>
								<li><a href="#" class="fab fa-twitter"></a></li>
								<li><a href="#" class="fab fa-google-plus"></a></li>
								<li><a href="#" class="fab fa-youtube"></a></li>
							</ul>
							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>
						</div>
						<div class="team-description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>
						<hr class="my-0">
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="hover-team">
						<div class="our-team">
							<img src="/user/images/img-1.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Williamson</h3>
								<span class="post">Web Developer</span>
							</div>
							<ul class="social">
								<li><a href="#" class="fab fa-facebook"></a></li>
								<li><a href="#" class="fab fa-twitter"></a></li>
								<li><a href="#" class="fab fa-google-plus"></a></li>
								<li><a href="#" class="fab fa-youtube"></a></li>
							</ul>
							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>
						</div>
						<div class="team-description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>
						<hr class="my-0">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About Page -->
	<!-- Start Footer  -->
	<ul th:replace="fragments/footer :: navigation"></ul>
	<!-- End Footer  -->
</body>

</html>